<footer class="bg-gray-500 py-8 mt-20">
    <div class="container mx-auto px-6">
        <div class="flex justify-between items-center text-white">
            <div>
                © {{ null | date("yyyy") }} Sous les cerisiers
            </div>
            <div class="flex items-center gap-2">
                <i class="fas fa-envelope"></i>
                <a href="mailto:slc.duoacoustique@gmail.com" class="hover:text-gray-200 transition-colors duration-300">
                    slc.duoacoustique@gmail.com
                </a>
            </div>
            <div class="flex items-center gap-2">
                <!--Badge Linkaband généré le 15-05-2026; Copyright Linkaband 2019-->
                <a href='https://linkaband.com/sous-les-cerisiers?utm_source=badge&utm_campaign=215282' target='_blank'>
                <img src='https://linkaband.com/assets/images/validation/verified-noir.png' alt='Sous-les-cerisiers' style='width: 48px; height: 48px;'/>
                </a>
            </div>
        </div>
    </div>
</footer>
